<!-- templates/fabrics_show.html -->
{% extends 'base.html' %}
{% block content %}

<div>
    <img src='{{fabric.image_url}}' height = auto width = auto>
    <h1>{{ fabric.name }}</h1>
    <h2>{{ fabric.description }}</h2>
    <h3>${{ fabric.price }} /yd</h3>
    <small>{{ fabric.source }}</small>

    <p><a href='/fabrics/{{ fabric._id }}/edit'>Edit</a></p>
    <!-- <p><form method='POST' action='/fabrics/{{ fabric._id }}/edit'>
            <input type='hidden' name='_method' value='EDIT'>
            <button class='btn btn-primary' type='submit'>Edit</button>
        </form></p> -->

    <p><form method='POST' action='/fabrics/{{ fabric._id }}/delete'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>

    <p><form method='POST' action='/shopping_cart/{{ fabric._id }}/add_item'>
        
        <label for = 'fabric-yards'>Yards available</label><br>
        <p>How many yards do you want?</p>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
            <!-- <input type='hidden' value='{{ fabric._id }}' name='fabric_id'/> -->
            <button class='btn btn-primary' type='submit'>Add to Cart</button>
        </form></p>

        <hr>

    {% include 'partials/review_form.html' %}
    <hr>

    {% for review in reviews %}
        {% include 'partials/review.html' %}
    {% endfor %}
</div>
{% endblock %}
