<!-- templates/home_index.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Fabrics</h1>

<div class='row'>
    {% for fabric in fabrics %}
        <div class='col-md-3'>
            <div class="card">
                <img class="card-img-top" src='{{ fabric.image_url }}'>
                <div class="card-body">
                    <h2><a href='/fabrics/{{ fabric._id }}'>{{ fabric.name }}</a></h2>
                    <small>{{ fabric.description }}</small><br>
                    <small>{{ fabric.price }}</small><br>
                    <small>{{ fabric.source }}</small>
                    <!-- Add to Cart Button here -->
                    <!-- <p><form method='POST' action='/fabrics/{{ fabric._id }}/delete'>
                            <button class='btn btn-primary' type='submit'>Delete</button>
                        </form></p> -->
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
