<!-- templates/home_index.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Fabrics</h1>
<a href='/fabrics/new' class='button'>New Fabric</a>
<div class='row'>
    {% for fabric in fabrics %}
        <div class='col-md-3'>
            <div class="card">
                <img class="card-img-top" src='{{ fabric.image_url }}'>
                <div class="card-body">
                    <h2><a href='/fabrics/{{ fabric._id }}'>{{ fabric.name }}</a></h2>
                    <small>{{ fabric.description }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
